<h2>G'day, <%= @user.name %>, who's <%= @user.screen_name%>, here are all your tweets! </h2>

<table>
    
    <tr>
        <td>Dany </td>
        <td> tweet tweet </td>
        <td> 20 August 2019 5:00 </td>
    </tr>

</table>
    
